@{
    //Layout = null;
}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="..." alt="...">
            <div class="carousel-caption">
                ...
            </div>
        </div>
        <div class="item">
            <img src="..." alt="...">
            <div class="carousel-caption">
                ...
            </div>
        </div>
        ...
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="format-detection" content="telephone=no">
    <title itemprop="name">
        Malus.fr | [tarif assurance auto malus en ligne], [assurance auto résilié malus], [contrat assurance voiture malus], [devis malus.fr]
    </title>
    <link rel="shortcut icon" href="http://www.malus.fr/wp-content/uploads/2014/10/fav.jpg">
    <link rel="alternate" type="application/rss+xml" title="Malus.fr | [tarif assurance auto malus en ligne], [assurance auto résilié malus], [contrat assurance voiture malus], [devis malus.fr] RSS Feed" href="http://www.malus.fr/feed/">
    <link rel="alternate" type="application/atom+xml" title="Malus.fr | [tarif assurance auto malus en ligne], [assurance auto résilié malus], [contrat assurance voiture malus], [devis malus.fr] Atom Feed" href="http://www.malus.fr/feed/atom/">
    <link rel="pingback" href="http://www.malus.fr/xmlrpc.php">

   
    </script>
    <script type="text/javascript">var ajaxurl = "http://www.malus.fr/wp-admin/admin-ajax.php"</script>
    <link rel="alternate" type="application/rss+xml" title="Malus.fr | [tarif assurance auto malus en ligne], [assurance auto résilié malus], [contrat assurance voiture malus], [devis malus.fr] » Flux" href="http://www.malus.fr/feed/">
    <link rel="alternate" type="application/rss+xml" title="Malus.fr | [tarif assurance auto malus en ligne], [assurance auto résilié malus], [contrat assurance voiture malus], [devis malus.fr] » Flux des commentaires" href="http://www.malus.fr/comments/feed/">
    <link rel="alternate" type="application/rss+xml" title="Malus.fr | [tarif assurance auto malus en ligne], [assurance auto résilié malus], [contrat assurance voiture malus], [devis malus.fr] » Accueil Flux des commentaires" href="http://www.malus.fr/accueil/feed/">
    <link rel="stylesheet" id="layerslider-css" href="http://www.malus.fr/wp-content/plugins/LayerSlider/static/css/layerslider.css?ver=5.3.1" type="text/css" media="all">
    <link rel="stylesheet" id="ls-google-fonts-css" href="http://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&amp;subset=latin%2Clatin-ext" type="text/css" media="all">
    <link rel="stylesheet" id="contact-form-7-css" href="http://www.malus.fr/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.0.1" type="text/css" media="all">
    <link rel="stylesheet" id="rs-plugin-settings-css" href="http://www.malus.fr/wp-content/plugins/revslider/rs-plugin/css/settings.css?rev=4.6.0&amp;ver=4.1.7" type="text/css" media="all">
    <style id="rs-plugin-settings-inline-css" type="text/css">
        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out;
        }

            .tp-caption a:hover {
                color: #ffa902;
            }
    </style>
    <link rel="stylesheet" id="theme-styles-css" href="http://www.malus.fr/wp-content/themes/jupiter/stylesheet/css/styles.min.css?ver=4.1.7" type="text/css" media="all">
    <link rel="stylesheet" id="pe-line-icon-css" href="http://www.malus.fr/wp-content/themes/jupiter/stylesheet/css/pe-line-icons.min.css?ver=4.1.7" type="text/css" media="all">
    <link rel="stylesheet" id="font-awesome-css" href="http://www.malus.fr/wp-content/themes/jupiter/stylesheet/css/font-awesome.min.css?ver=4.1.7" type="text/css" media="all">
    <link rel="stylesheet" id="icomoon-fonts-css" href="http://www.malus.fr/wp-content/themes/jupiter/stylesheet/css/icomoon-fonts.min.css?ver=4.1.7" type="text/css" media="all">
    <link rel="stylesheet" id="theme-icons-css" href="http://www.malus.fr/wp-content/themes/jupiter/stylesheet/css/theme-icons.min.css?ver=4.1.7" type="text/css" media="all">
    <link rel="stylesheet" id="google-font-api-special-1-css" href="http://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C700italic%2C800italic%2C900italic%2C900%2C400%2C300%2C800%2C700%2C600&amp;ver=4.1.7" type="text/css" media="all">
    <link rel="stylesheet" id="google-font-api-special-2-css" href="http://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C700italic%2C800italic%2C900italic%2C900%2C400%2C300%2C800%2C700%2C600&amp;ver=4.1.7" type="text/css" media="all">
    <link rel="stylesheet" id="mk-style-css" href="http://www.malus.fr/wp-content/themes/jupiter/style.css?ver=4.1.7" type="text/css" media="all">
    <link rel="stylesheet" id="theme-dynamic-styles-css" href="http://www.malus.fr/wp-content/themes/jupiter/custom.css?ver=4.1.7" type="text/css" media="all">
    <style id="theme-dynamic-styles-inline-css" type="text/css">
    </style>
    <link rel="stylesheet" id="js_composer_front-css" href="http://www.malus.fr/wp-content/plugins/js_composer_theme/assets/css/js_composer.css?ver=4.3.4" type="text/css" media="all">
    <link rel="stylesheet" id="js_composer_custom_css-css" href="http://www.malus.fr/wp-content/uploads/js_composer/custom.css?ver=4.3.4" type="text/css" media="screen">
    <link rel="stylesheet" id="ms-main-css" href="http://www.malus.fr/wp-content/plugins/masterslider/public/assets/css/masterslider.main.css?ver=2.7.2" type="text/css" media="all">
    <link rel="stylesheet" id="ms-custom-css" href="http://www.malus.fr/wp-content/uploads/masterslider/custom.css?ver=1.1" type="text/css" media="all">
    <script type="text/javascript" src="http://www.malus.fr/wp-content/plugins/LayerSlider/static/js/greensock.js?ver=1.11.8"></script>
    <script type="text/javascript" src="http://www.malus.fr/wp-includes/js/jquery/jquery.js?ver=1.11.1"></script>
    <script type="text/javascript" src="http://www.malus.fr/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1"></script>
    <script type="text/javascript" src="http://www.malus.fr/wp-content/plugins/LayerSlider/static/js/layerslider.kreaturamedia.jquery.js?ver=5.3.1"></script>
    <script type="text/javascript" src="http://www.malus.fr/wp-content/plugins/LayerSlider/static/js/layerslider.transitions.js?ver=5.3.1"></script>
    <script type="text/javascript" src="http://www.malus.fr/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.tools.min.js?rev=4.6.0&amp;ver=4.1.7"></script>
    <script type="text/javascript" src="http://www.malus.fr/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js?rev=4.6.0&amp;ver=4.1.7"></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.malus.fr/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.malus.fr/wp-includes/wlwmanifest.xml">
    <meta name="generator" content="WordPress 4.1.7">
    <link rel="canonical" href="http://www.malus.fr/">
    <link rel="shortlink" href="http://www.malus.fr/">
    <script>var ms_grabbing_curosr = 'http://www.malus.fr/wp-content/plugins/masterslider/public/assets/css/common/grabbing.cur', ms_grab_curosr = 'http://www.malus.fr/wp-content/plugins/masterslider/public/assets/css/common/grab.cur';</script>
    <meta name="generator" content="Jupiter 4.0.4">
   
</head>

<body class="home page page-id-11 page-template-default  _masterslider _msp_version_2.7.2 wpb-js-composer js-comp-ver-4.3.4 vc_responsive navigation-initialised mk-closed-nav" data-backtext="Back" data-vm-anim="1">



    <div id="mk-boxed-layout">
        <div id="mk-theme-container">

            <header id="mk-header" data-height="90" data-hover-style="1" data-transparent-skin="" data-header-style="1" data-sticky-height="55" data-sticky-style="fixed" data-sticky-offset="header" class="header-style-1 header-align-center header-toolbar-false sticky-style-fixed  mk-background-stretch boxed-header header-sticky-ready">


                <div class="mk-header-holder">

                    <div class="mk-header-inner" style="">

                        <div class="mk-header-bg "></div>

                        <div class="mk-grid header-grid">
                            <div class="mk-header-nav-container one-row-style menu-hover-style-1">
                                <nav id="mk-main-navigation" class="main_menu">
                                    <ul id="menu-nav-principal" class="main-navigation-ul dropdownJavascript">
                                        <li id="menu-item-74" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-11 current_page_item no-mega-menu"><a class="menu-item-link one-page-nav-item" href="http://www.malus.fr/">Accueil</a></li>
                                        <li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page no-mega-menu"><a class="menu-item-link one-page-nav-item" href="http://www.malus.fr/qui-sommes-nous/">Qui sommes-nous ?</a></li>
                                        <li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page no-mega-menu"><a class="menu-item-link one-page-nav-item" href="http://www.malus.fr/nos-solutions-3/">Nos solutions</a></li>
                                        <li id="menu-item-190" class="menu-item menu-item-type-post_type menu-item-object-page no-mega-menu"><a class="menu-item-link one-page-nav-item" href="http://www.malus.fr/votre-devis/">Votre devis</a></li>
                                        <li id="menu-item-191" class="menu-item menu-item-type-post_type menu-item-object-page no-mega-menu"><a class="menu-item-link one-page-nav-item" href="http://www.malus.fr/contactez-nous/">Contactez-nous</a></li>
                                    </ul>
                                </nav>
                            </div>


                            <div class=" mk-nav-responsive-link">
                                <div class="mk-css-icon-menu">
                                    <div class="mk-css-icon-menu-line-1"></div>
                                    <div class="mk-css-icon-menu-line-2"></div>
                                    <div class="mk-css-icon-menu-line-3"></div>
                                </div>
                            </div>

                            <div class="header-logo  ">
                                <a href="http://www.malus.fr/" title="Malus.fr | [tarif assurance auto malus en ligne], [assurance auto résilié malus], [contrat assurance voiture malus], [devis malus.fr]">

                                    <img class="mk-desktop-logo dark-logo" alt="Malus.fr | [tarif assurance auto malus en ligne], [assurance auto résilié malus], [contrat assurance voiture malus], [devis malus.fr]" src="http://www.malus.fr/wp-content/uploads/2015/01/logo.jpg">







                                </a>
                            </div>


                            <div class="clearboth"></div>







                        </div>
                        <div class="mk-header-right">

                            <a href="" class="mk-header-start-tour">03 87 36 93 59<i class="mk-icon-caret-right"></i></a>
                        </div>



                    </div><ul id="mk-responsive-nav" class="" style="display: none;">
                        <li id="menu-item-74" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-11 current_page_item no-mega-menu"><a class="menu-item-link one-page-nav-item" href="http://www.malus.fr/">Accueil</a></li>
                        <li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page no-mega-menu"><a class="menu-item-link one-page-nav-item" href="http://www.malus.fr/qui-sommes-nous/">Qui sommes-nous ?</a></li>
                        <li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page no-mega-menu"><a class="menu-item-link one-page-nav-item" href="http://www.malus.fr/nos-solutions-3/">Nos solutions</a></li>
                        <li id="menu-item-190" class="menu-item menu-item-type-post_type menu-item-object-page no-mega-menu"><a class="menu-item-link one-page-nav-item" href="http://www.malus.fr/votre-devis/">Votre devis</a></li>
                        <li id="menu-item-191" class="menu-item menu-item-type-post_type menu-item-object-page no-mega-menu"><a class="menu-item-link one-page-nav-item" href="http://www.malus.fr/contactez-nous/">Contactez-nous</a></li>
                    </ul>


                </div>

                <div class="clearboth"></div>

                <div class="mk-header-padding-wrapper"></div>

                <div class="clearboth"></div>

                <div class="mk-zindex-fix">

                </div>

                <div class="clearboth"></div>

            </header>
            <div id="theme-page" style="margin-bottom: 0;">
                <div class="mk-main-wrapper-holder">
                    <div id="mk-page-id-11" class="theme-page-wrapper mk-main-wrapper full-layout no-padding mk-grid vc_row-fluid">
                        <div class="theme-content no-padding" itemprop="mainContentOfPage">
                            <div class="clearboth"></div>
                        </div>
                    </div>
                </div><div id="mk-page-section-5639ef425a423" data-intro-effect="false" class="full-width-5639ef425a423  full-height-false parallax-false mk-page-section mk-blur-parent mk-shortcode  " data-speedfactor="0.3">
                    <div class="mk-video-color-mask"></div><div class="mk-grid vc_row-fluid page-section-content">
                        <div class="mk-padding-wrapper">
                            <div style="" class="vc_col-sm-12 wpb_column column_container ">
                                <script data-cfasync="false" type="text/javascript">var lsjQuery = jQuery;</script>
                                <script data-cfasync="false" type="text/javascript"> lsjQuery(document).ready(function () { if (typeof lsjQuery.fn.layerSlider == "undefined") { lsShowNotice('layerslider_2', 'jquery'); } else { lsjQuery("#layerslider_2").layerSlider({ skin: 'jupiter', skinsPath: 'http://www.malus.fr/wp-content/plugins/LayerSlider/static/skins/' }) } }); </script><div class="ls-wp-fullwidth-container" style="height:400px;"><div class="ls-wp-fullwidth-helper" style="width: 680px; height: 400px; left: -35px;"><div id="layerslider_2" class="ls-wp-container ls-container ls-jupiter" style="width: 680px; height: 400px; margin: 0px auto; visibility: visible;"><div class="ls-inner" style="width: 680px; height: 400px; background-color: transparent;"><div class="ls-lt-container ls-overflow-hidden" style="width: 680px; height: 400px; display: block;"><div class="ls-curtiles" style="overflow: hidden;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_73872777_XL1-e1421420660403.jpg" style="width: 1920px; height: 1194px; margin-left: -620px; margin-top: -397px;"></div><div class="ls-nexttiles"><div class="ls-lt-tile" style="width: 34px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -838px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -872px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -891px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -910px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -929px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -948px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -967px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -986px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1005px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1024px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1043px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1062px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1081px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1100px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1119px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1138px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1157px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1176px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1195px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1214px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1233px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1252px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1271px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1290px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1309px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1328px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1347px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1366px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1385px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1404px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1423px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1442px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1461px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1480px; margin-top: -318px;"></div></div><div class="ls-lt-tile" style="width: 19px; height: 400px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" style="width: 2356px; height: 1036px; margin-left: -1499px; margin-top: -318px;"></div></div></div></div><div class="ls-slide" data-ls=" transition2d: all;" style="width: 0px; height: 400px; visibility: visible; display: none; left: 0px; right: auto; top: 0px; bottom: auto;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_73872777_XL1-e1421420660403.jpg" data-src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_73872777_XL1-e1421420660403.jpg" class="ls-bg ls-preloaded" alt="accident 2" style="width: 1920px; height: 1194px; margin-left: -620px; margin-top: -397px; visibility: hidden;"><div class="ls-gpuhack"></div><p class="ls-l" style="top: 0px; left: 0px; opacity: 0.9; width: 580px; height: 100%; white-space: nowrap; visibility: hidden; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, -80, 0, 0, 1); filter: none; background: rgb(15, 179, 194);"></p><h2 class="ls-l" style="top: 50px; left: 75px; text-shadow: rgb(255, 255, 255) 2px 0px; width: 450px; font-size: 50px; color: rgb(255, 255, 255); visibility: hidden; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, -80, 0, 0, 1); opacity: 1; filter: none;">Résilié POUR TROP DE SINITRES</h2><p class="ls-l" style="top: 200px; left: 75px; width: 370px; color: rgb(255, 255, 255); visibility: hidden; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, -80, 0, 0, 1); opacity: 1; filter: none;">Votre contrat a été résilié suite à plusieurs sinistres responsables ou non. Votre assureur vous résilie ?</p><a href="http://www.malus.fr/votre-devis/" target="_self" class="ls-l" style="top: 300px; left: 75px; display: block; visibility: hidden; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, -80, 0, 0, 1); opacity: 1; filter: none;"><p style="border-radius:5px; border:1px #FFF solid;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;color:#FFF;white-space: nowrap;" class="ls-preloaded">CONTACTEZ-NOUS</p></a></div><div class="ls-slide ls-active" data-ls=" transition2d: all;" style="width: 680px; height: 400px; visibility: visible; display: none; left: auto; right: 0px; top: 0px; bottom: auto;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" data-src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_45053343_L-e1421421661460.jpg" class="ls-bg ls-preloaded" alt="Euro Car Finance" style="width: 2356px; height: 1036px; margin-left: -838px; margin-top: -318px; visibility: visible;"><div class="ls-gpuhack"></div><p class="ls-l" style="top: 0px; left: 0px; opacity: 0.9; width: 580px; height: 100%; white-space: nowrap; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); visibility: visible; filter: none; background: rgb(15, 179, 194);"></p><h2 class="ls-l" style="top: 50px; left: 75px; width: 450px; font-size: 50px; color: rgb(255, 255, 255); margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible; filter: none;">DEFAUT DE PAIEMENT</h2><p class="ls-l" style="top: 200px; left: 75px; width: 370px; color: rgb(255, 255, 255); margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible; filter: none;">Votre contrat a été résilié suite à des primes impayées. Vous ne trouvez pas d’assureur ? Malus.fr a la solution</p><a href="http://www.malus.fr/votre-devis/" target="_self" class="ls-l" style="top: 300px; left: 75px; display: block; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible; filter: none;"><p style="border-radius:5px; border:1px #fff solid;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;color:#ffffff;white-space: nowrap;" class="ls-preloaded">CONTACTEZ-NOUS</p></a></div><div class="ls-slide" data-ls=" transition2d: all;" style="width: 0px; height: 400px; left: 0px; right: auto; top: 0px; bottom: auto; visibility: visible; display: none;"><img src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_49602603_M.jpg" data-src="http://www.malus.fr/wp-content/uploads/2015/01/Fotolia_49602603_M.jpg" class="ls-bg ls-preloaded" alt="Accident de la route suite à alcoolémie au volant" style="width: 1730px; height: 1098px; margin-left: -525px; margin-top: -349px; visibility: hidden;"><div class="ls-gpuhack"></div><p class="ls-l" style="top: 0px; left: 0px; opacity: 0.8; width: 580px; height: 100%; white-space: nowrap; filter: none; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, -80, 0, 0, 1); visibility: hidden; background: rgb(0, 200, 215);"></p><h2 class="ls-l" style="top: 92px; left: 77px; width: 450px; font-size: 50px; color: rgb(255, 255, 255); filter: none; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, -80, 0, 0, 1); opacity: 1; visibility: hidden;">ALCOOLEMIE</h2><p class="ls-l" style="top: 170px; left: 75px; width: 370px; color: rgb(255, 255, 255); filter: none; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, -80, 0, 0, 1); opacity: 1; visibility: hidden;">Votre assurance est résiliée suite à un contrôle positif d’alcoolémie ou de stupéfiants. Vous ne trouvez pas d’assureur ? Nous avons la solution.</p><a href="http://www.malus.fr/votre-devis/" target="_self" class="ls-l" style="top: 263px; left: 76px; filter: none; display: block; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, -80, 0, 0, 1); opacity: 1; visibility: hidden;"><p style="border-radius:5px; border:1px #FFF solid;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;color:#FFF;background:#0fb3c2;white-space: nowrap;">CONTACTEZ-NOUS</p></a></div><div class="ls-circle-timer" style="display: block;"><div class="ls-ct-left"><div class="ls-ct-rotate" style="transform: rotate(0deg);"><div class="ls-ct-hider"><div class="ls-ct-half"></div></div></div></div><div class="ls-ct-right"><div class="ls-ct-rotate" style="transform: matrix(-0.73111, 0.68225, -0.68225, -0.73111, 0, 0);"><div class="ls-ct-hider"><div class="ls-ct-half"></div></div></div></div><div class="ls-ct-center"></div></div></div><div class="ls-loading-container" style="z-index: -1; display: none;"><div class="ls-loading-indicator"></div></div><a class="ls-nav-prev" href="#" style="visibility: visible; display: none;"></a><a class="ls-nav-next" href="#" style="visibility: visible; display: none;"></a><div class="ls-bottom-nav-wrapper" style="visibility: visible;"><a class="ls-nav-start ls-nav-start-active" href="#"></a><span class="ls-bottom-slidebuttons"><a href="#" class=""></a><a href="#" class="ls-nav-active"></a><a href="#" class=""></a><div class="ls-thumbnail-hover" style="width: 100px; height: 60px;"><div class="ls-thumbnail-hover-inner" style="visibility: hidden; display: block;"><div class="ls-thumbnail-hover-bg"></div><div class="ls-thumbnail-hover-img" style="width: 100px; height: 60px;"><img style="height: 60px;"></div><span></span></div></div></span><a class="ls-nav-stop" href="#"></a></div><div class="ls-shadow"></div></div></div></div>
                            </div>
                        </div><div class="clearboth"></div>
                    </div><div class="clearboth"></div>
                </div>
                <style type="text/css">
                    .full-width-5639ef425a423 {
                        min-height: 100px;
                        padding: 0px 0 0px;
                        background-attachment: scroll;
                        background-position: left top;
                        background-repeat: repeat;
                        margin-bottom: 0px;
                    }
                </style><div class="mk-main-wrapper-holder"><div class="theme-page-wrapper no-padding full-layout mk-grid vc_row-fluid row-fluid"><div class="theme-content no-padding"><div class="clearboth"></div></div></div></div><div id="mk-page-section-5639ef426374a" data-intro-effect="false" class="full-width-5639ef426374a  full-height-false parallax-false mk-page-section mk-blur-parent mk-shortcode  " data-speedfactor="0.3">
                    <div class="mk-video-color-mask"></div><div class="mk-grid vc_row-fluid page-section-content">
                        <div class="mk-padding-wrapper">
                            <div style="" class="vc_col-sm-12 wpb_column column_container ">
                                <div id="mk-process-5639ef4264167" class="mk-process-steps mk-shortcode process-steps-3 ">
                                    <ul>
                                        <li><a href="../votre-devis/"><span class="mk-process-icon"><i class="mk-moon-coins"></i></span></a><div class="mk-process-detail"><h3><a href="../votre-devis/">Défaut de paiement</a></h3><div class="clearboth"></div><p>Difficulté de paiement ? Votre contrat est résilié ?</p></div></li>
                                        <li><a href="../votre-devis/"><span class="mk-process-icon"><i class="mk-moon-wrench-4"></i></span></a><div class="mk-process-detail"><h3><a href="../votre-devis/">Trop de sinistres</a></h3><div class="clearboth"></div><p>Trop de sinistres ? Votre malus est trop important ?</p></div></li>
                                        <li><a href="../votre-devis/"><span class="mk-process-icon"><i class="mk-moon-vcard"></i></span></a><div class="mk-process-detail"><h3><a href="../votre-devis/">Retrait de permis</a></h3><div class="clearboth"></div><p>On vous a retiré ou suspendu votre permis de conduire ?</p></div></li>
                                        <div class="clearboth"></div>
                                    </ul>
                                </div>
                                <style type="text/css">
                                    #mk-process-5639ef4264167 ul li:hover .mk-process-icon {
                                        background-color: #00c8d7;
                                    }
                                </style><div id="mk-process-5639ef426430f" class="mk-process-steps mk-shortcode process-steps-3 ">
                                    <ul>
                                        <li><a href="../contactez-nous/"><span class="mk-process-icon"><i class="mk-moon-office"></i></span></a><div class="mk-process-detail"><h3><a href="../contactez-nous/">Risques professionnels</a></h3><div class="clearboth"></div><p>Depuis 1981, spécialisé en Risques Professionnels Tous Domaines (Construction, Transport, Industrie, Commerces, Viticulture...) plus de 5000 clients nous ont déjà accordé leur confiance et optimisent ainsi leurs garanties et leurs primes</p></div></li>
                                        <li><a href="../contactez-nous/"><span class="mk-process-icon"><i class="mk-moon-home-5"></i></span></a><div class="mk-process-detail"><h3><a href="../contactez-nous/">Immeubles résiliés</a></h3><div class="clearboth"></div><p>Propriétaires, Syndics : assurance résiliée suite à une fréquence de sinistres, non paiement de primes ou inoccupation ? Nous pouvons probablement vous trouver une solution.</p></div></li>
                                        <li><a href="../votre-devis/"><span class="mk-process-icon"><i class="mk-BCT">BCT</i></span></a><div class="mk-process-detail"><h3><a href="../votre-devis/">Bureau Central de Tarification</a></h3><div class="clearboth"></div><p>Nous vous accompagnerons dans vos démarches !</p></div></li>
                                        <div class="clearboth"></div>
                                    </ul>
                                </div>
                                <style type="text/css">
                                    #mk-process-5639ef426430f ul li:hover .mk-process-icon {
                                        background-color: #00c8d7;
                                    }
                                </style>
                            </div>
                        </div><div class="clearboth"></div>
                    </div><div class="clearboth"></div>
                </div>
                <style type="text/css">
                    .full-width-5639ef426374a {
                        min-height: 100px;
                        padding: 65px 0 65px;
                        background-attachment: scroll;
                        background-position: left top;
                        background-repeat: repeat;
                        margin-bottom: 0px;
                    }
                </style><div class="mk-main-wrapper-holder"><div class="theme-page-wrapper no-padding full-layout mk-grid vc_row-fluid row-fluid"><div class="theme-content no-padding"><div class="clearboth"></div></div></div></div><div id="mk-page-section-5639ef4264628" data-intro-effect="false" class="full-width-5639ef4264628  full-height-false parallax-false mk-page-section mk-blur-parent mk-shortcode  rapelleSection" data-speedfactor="0.3">
                    <div class="mk-video-color-mask"></div><div class="mk-grid vc_row-fluid page-section-content">
                        <div class="mk-padding-wrapper">
                            <div style="" class="vc_col-sm-4 wpb_column column_container ">
                                <div class="mk-image-shortcode mk-shortcode   align-left simple-frame inside-image " style="max-width: 350px; margin-bottom: 10px">
                                    <div class="mk-image-inner">
                                        <img class="lightbox-false" alt="" title="" src="http://www.malus.fr/wp-content/uploads/bfi_thumb/contact-2zv03udgrakttxrvbx1y4g.jpg">
                                    </div>
                                    <div class="clearboth"></div>
                               
                                <style type="text/css">
                                    .button-5639ef4266c9e {
                                        margin-bottom: 15px;
                                        margin-top: 0px;
                                        min-width: 0px !important;
                                    }

                                    .button-5639ef4266c9e {
                                        background-color: #00c8d7;
                                    }

                                        .button-5639ef4266c9e:hover {
                                            background-color: #00bac8;
                                        }

                                        .button-5639ef4266c9e.three-dimension {
                                            box-shadow: 0px 3px 0px 0px #00a0ac;
                                        }

                                            .button-5639ef4266c9e.three-dimension:active {
                                                box-shadow: 0px 1px 0px 0px #00a0ac;
                                            }
                                </style>
                            </div>
                            <div style="" class="vc_col-sm-4 wpb_column column_container ">
                                <div id="mk-custom-box-5639ef4267402" class="mk-custom-boxed mk-blur-parent mk-blur-5639ef4267402 mk-shortcode   rappelle" style="margin-bottom:10px">
                                    <div id="box-icon-5639ef4267b5f" style="margin-bottom:0px;" class="   simple_minimal-style mk-box-icon"><h4 style="font-size:20px;font-weight:bold;"><i style="color:#ffffff" class="mk-moon-phone-4 large mk-main-ico"></i><span>On vous rappelle</span><div class="clearboth"></div></h4></div>
                                    <style type="text/css">
                                        #box-icon-5639ef4267b5f h4 {
                                            color: #ffffff !important;
                                        }
                                    </style><div class="wpcf7" id="wpcf7-f45-p11-o1" lang="fr-FR" dir="ltr">
                                        <div class="screen-reader-response"></div>
                                        <form name="" action="/#wpcf7-f45-p11-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                            <div style="display: none;">
                                                <input type="hidden" name="_wpcf7" value="45">
                                                <input type="hidden" name="_wpcf7_version" value="4.0.1">
                                                <input type="hidden" name="_wpcf7_locale" value="fr_FR">
                                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f45-p11-o1">
                                                <input type="hidden" name="_wpnonce" value="876dba7545">
                                            </div>
                                            <p>Nom et Prénom<br><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span> </p>
                                            <p>Numéro de téléphone * <br><span class="wpcf7-form-control-wrap tel"><input type="tel" name="tel" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false"></span> </p>
                                            <p>Horaire de rappel souhaité <br><span class="wpcf7-form-control-wrap menu"><select name="menu" class="wpcf7-form-control wpcf7-select" aria-invalid="false"><option value="entre 9h et 12h">entre 9h et 12h</option><option value="entre 13h et 17h">entre 13h et 17h</option></select></span></p>
                                            <p><input type="submit" value="Rappelez-moi" class="wpcf7-form-control wpcf7-submit"><img class="ajax-loader" src="http://www.malus.fr/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Envoi en cours ..." style="visibility: hidden;"></p>
                                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                                        </form>
                                    </div>
                                    <div class="clearboth"></div>
                                </div>
                                <style type="text/css">
                                    #mk-custom-box-5639ef4267402 {
                                        min-height: 100px;
                                        padding: 30px 20px;
                                        background-attachment: scroll;
                                        background-repeat: repeat;
                                        background-color: #00c8d7;
                                        background-position: left top;
                                        margin-bottom: 10px;
                                    }

                                        #mk-custom-box-5639ef4267402 .mk-fancy-title.pattern-style span {
                                            background-color: #00c8d7 !important;
                                        }
                                </style>
                            </div>
                            <div style="" class="vc_col-sm-4 wpb_column column_container ">
                                <div id="list-style-5639ef4269070" class="mk-list-styles mk-shortcode mk-align-none " style="margin-bottom:30px">
                                    <h3 class="mk-shortcode mk-fancy-title pattern-style mk-shortcode-heading"><span>En cas de sinistre</span></h3><ul>
                                        <li><a href="../en-cas-de-sinistre/">Comment remplir un constat</a></li>
                                        <li><a href="../en-cas-de-sinistre/">Quelques conseils…</a></li>
                                    </ul>
                                </div>
                                <style type="text/css">
                                    #list-style-5639ef4269070 ul li:before {
                                        font-family: Icomoon;
                                        content: "\e2af";
                                        color: #00c8d7;
                                    }
                                </style><div id="list-style-5639ef4269298" class="mk-list-styles mk-shortcode mk-align-none " style="margin-bottom:30px">
                                    <h3 class="mk-shortcode mk-fancy-title pattern-style mk-shortcode-heading"><span>Conseils pratiques</span></h3><ul>
                                        <li><a href="../conseils-pratiques/">Calcul du bonus</a></li>
                                        <li><a href="../conseils-pratiques/">Calcul du malus</a></li>
                                        <li><a href="../conseils-pratiques/">Comment résilier mon contrat d’assurance automobile ?</a></li>
                                    </ul>
                                </div>
                                <style type="text/css">
                                    #list-style-5639ef4269298 ul li:before {
                                        font-family: Icomoon;
                                        content: "\e2af";
                                        color: #00c8d7;
                                    }
                                </style>
                            </div>
                        </div><div class="clearboth"></div>
                    </div><div class="clearboth"></div>
                </div>
                <style type="text/css">
                    .full-width-5639ef4264628 {
                        min-height: 100px;
                        padding: 65px 0 65px;
                        background-attachment: scroll;
                        background-color: #f5f5f5;
                        background-position: left top;
                        background-repeat: repeat;
                        margin-bottom: 0px;
                    }

                        .full-width-5639ef4264628 .mk-fancy-title.pattern-style span,
                        .full-width-5639ef4264628 .mk-blog-view-all {
                            background-color: #f5f5f5 !important;
                        }
                </style><div class="mk-main-wrapper-holder"><div class="theme-page-wrapper no-padding full-layout mk-grid vc_row-fluid row-fluid"><div class="theme-content no-padding"><div class="clearboth"></div></div></div></div><div id="mk-page-section-5639ef4269709" data-intro-effect="false" class="full-width-5639ef4269709  full-height-false parallax-false mk-page-section mk-blur-parent mk-shortcode  " data-speedfactor="0.3">
                    <div class="mk-video-color-mask"></div><div class="mk-grid vc_row-fluid page-section-content">
                        <div class="mk-padding-wrapper">
                            <div style="" class="vc_col-sm-12 wpb_column column_container ">
                                <h3 class="mk-shortcode title-line-style mk-shortcode-heading dark-version "><span>Dernier témoignages</span></h3><div class="mk-testimonial mk-script-call avantgarde-style testimonial-column dark-version " id="testimonial_5639ef426a1c9">
                                    <ul class="testimonial-ul">
                                        <li class="one-column testimonial-item"><div class="mk-testimonial-content"><p class="mk-testimonial-quote">Je vous remercie de votre professionnalisme et de votre accueil toujours chaleureux</p></div><span class="mk-testimonial-author">Jacques C.</span></li>

                                        <div class="clearboth"></div>
                                    </ul>
                                </div>
                            </div>
                        </div><div class="clearboth"></div>
                    </div><div class="clearboth"></div>
                </div>
                <style type="text/css">
                    .full-width-5639ef4269709 {
                        min-height: 100px;
                        padding: 65px 0 65px;
                        background-attachment: scroll;
                        background-position: left top;
                        background-repeat: repeat;
                        margin-bottom: 0px;
                    }
                </style><div class="mk-main-wrapper-holder">
                    <div class="theme-page-wrapper no-padding full-layout mk-grid vc_row-fluid row-fluid">
                        <div class="theme-content no-padding">
                            <div class="clearboth"></div>
                        </div>
                        <div class="clearboth"></div>
                    </div>
                    <div class="clearboth"></div>
                </div>
            </div>
            <section id="mk-footer" class="">
                <div class="footer-wrapper mk-grid">
                    <div class="mk-padding-wrapper">
                        <div class="mk-col-1-4"></div>
                        <div class="mk-col-1-4"></div>
                        <div class="mk-col-1-4"></div>
                        <div class="mk-col-1-4"></div>
                        <div class="clearboth"></div>
                    </div>
                </div>

            </section>

        </div>
        <script type="text/javascript">
            jQuery(".mk-process-icon .mk-BCT").html("BCT");		</script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-67427702-1']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

    </div>
    <a href="#" class="mk-go-top on"><i class="mk-icon-chevron-up"></i></a>

